# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# IDE (PyCharm / IntelliJ)
.idea/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Windows system files
Desktop.ini